extends layout
block contenido
  div(class="container")
    h1(class="green-text") Modificar Usuario
    form(action="index" method="post")
      div(class="input-field")
        label(for="nombre") Nombre
        input(type="text" name="nombre" placeholer="Nombre" id="nombre" autofocus="true" value="#{usuario.nombre}")
      div(class="input-field")
        label(for="apellido") Apellido
        input(type="text" name="apellido" placeholer="Apellido" id="apellido"  value="#{usuario.apellido}")
      div(class="input-field")
        label(for="edad") Edad
        input(type="number" name="edad" placeholer="Edad" id="edad" step="1" min="1"  value="#{usuario.edad}")
      div(class="input-field")
        label(for="pais") País
        input(type="text" name="pais" placeholer="Pais" id="pais" step="1"  value="#{usuario.pais}")
      div(class="row center")
        div(class="input-field")
          input(type="hidden" name="_id" value="#{usuario._id}")
          input(type="submit" value="Modificar" class="btn waves-effect waves-light")